body {
    background-color: #82A0BC;
}

.form-control {
    background-color: #e9b44c;
    border-color: #4a2d1c;
}

h1 {
    color: #304D6D;
}

input[type=button], button[type=submit] {
    background-color: #82A0BC;
    color: #e4d6a7;
}

input[type=checkbox], input[type=checkbox]:focus {
    width: 20px;
    height: 20px;
}

    input[type=text], input[type=text]:focus, input[type=email], input[type=email]:focus,
    input[type=password], input[type=password]:focus, input[type=checkbox], input[type=checkbox]:focus,
    textarea, textarea:focus, input[type=number], input[type=number]:focus,
    input[type=datetime], input[type=datetime]:focus,
    input[type=datetime-local], input[type=datetime-local]:focus, 
    input[type=tel], input[type=tel]:focus,
    select, select:focus {
        background-color: #304D6D !important;
        color: #A7CCED !important;
        border-color: #A7CCED !important;
    }

a {
    color: #545e75;
}

header nav {
    background-color: #304D6D;
}

.navbar-brand {
    color: #A7CCED !important;
}

header .navbar-nav .nav-link {
    color: #A7CCED !important;
}


footer {
    background-color: #304D6D;
    color: #A7CCED;
}

    footer div {
        color: #A7CCED;
    }

    footer a {
        color: #A7CCED;
    }

.card {
    border-color: #304D6D;
    margin-bottom: 20px;
}

.card hr {
    border: 1px solid #304D6D;
}

.card-header, .card-footer {
    background-color: #304D6D;
    color: #a7cced;
}

.card-body {
    background-color: #A7CCED;
    color: #304D6D;
}